$board-bg-color: #5abbf4;
$nav-bar-app-bg-color: #067ec4;
$nav-bar-board-bg-color: #075989;
$list-bg-color: #f4f4f4;
$app-main-color: #333;
$column-header-height: 36px;
$column-footer-height: 36px;
$column-border-radius: 5px;
$card-border-radius: 3px;
$gap: 10px;

//Screen

$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone: 480px;
$screen-ip6-down: '(max-width: 375px)';